.skeleton {
    &.pulse {
        animation: pulse 2s linear infinite;
    }
    &.wave {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            background-image: linear-gradient(
                to right,
                transparent,
                color-mix(in srgb, var(--color), white 25%),
                transparent
            );
            pointer-events: none;
            animation: wave 3s linear infinite;
        }
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
@keyframes wave {
    from {
        left: -100%;
    }
    to {
        left: 150%;
    }
}
