.container {
    .slider {
        animation: auto-slider var(--duration) linear infinite;
        animation-play-state: var(--playing-state);
        animation-direction: var(--direction);
    }
    &:hover {
        .slider {
            animation-play-state: var(--hover-state);
        }
    }
}
@keyframes auto-slider {
    from {
        transform: translateX(var(--start));
    }
    to {
        transform: translateX(var(--end));
    }
}
